<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
        <title>Admin :: Create new page</title>
	</head>
	<body>
	    <form action="/admin/create" method="post">
            <span>Title: </span>
            <input type="text" name="title" size="20" maxlength="40">
            <br />
            <span>Text: </span>
            <input type="text" name="text" size="20" maxlength="40">
            <br />
            <input type="submit" name="submit" size="20" value="Submit!">
        </form>
		<span></span>
	</body>
</html>