<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="description" content="Login page"/>
		<meta name="robots" content="noindex, nofollow"/>
		<title>Login</title>
		<link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
	</head>

	<body>
		<div class="lbl" align="center">LOGIN</div>
		<div class="header" align="center">
            <form class="header" action="/login" method="post" target="_self">
              <span class="header">Имя пользователя</span><br />
              <input type="text" class="inp" name="login" size="34">
              <br />
              <span class="header">Пароль</span><br />
              <input type="password" class="inp" name="pass" size="34">
              <br /><br />
              <input class="butt" type="submit" value="&uarr; Log in!">
            </form>
        </div>
	</body>

</html>